body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif !important;
}

h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif !important;
}

a { text-decoration: none !important; color: inherit !important; }

footer p {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 1.3rem;
}

footer {
  padding: 1.2rem;
}

ul {
  list-style: none;
  list-style-position: inside;
  padding: 0 !important;
}

.carousel-item img {
  aspect-ratio: 1;
  /* object-fit: cover; */
  height: 85vh;
  max-height: 650px;
}

.carousel-hero .carousel-caption {
  bottom: 2rem;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  max-width: 600px;
  text-align: center;
  right: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.25rem 1rem;
}

.register form {
  border: 3px solid #ececec;
  border-radius: 20px;
}

.features-vpn {
  background-color: #f3f6ff;
}

.features-vpn h2 {
  line-height: 1.5;
}

.hero-pricing {
  height: 80vh;
  max-height: 650px;
}

.hero-pricing img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.prices-acme-vpn .card-body ul {
  list-style-image: url(./img/check-xs.svg);
  padding: 0;
}

.italic {
  font-style: italic;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
